body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top:5px;
}

button:hover {
    background-color: #2980b9;
}

/* Agrega esta regla CSS al final de tu archivo de estilos (estilos.css) */

.salir button {
    background-color: #e74c3c; /* Cambia el color de fondo del botón de salida */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top:5px;
}

.salir button:hover {
    background-color: #c0392b; /* Cambia el color de fondo del botón de salida al pasar el ratón */
}
